<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sdesimeur.android.gpsfiction.missiondestruction"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.SET_DEBUG_APP" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyAppTheme"
        android:name="android.support.multidex.MultiDexApplication">>
        <activity
            android:name=".MissionDestructionMainActivity"
            android:label="@string/rulesName"
            android:description="@string/rulesDef">
            <intent-filter>
                <action android:name="android.intent.action.RUN" />
                <category android:name="com.sdesimeur.android.gpsfiction.intent.category.GPSFICTIONACTIVITY" />
                <!--<category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.MONKEY" />-->
            </intent-filter>
        </activity>
        <!--  <uses-library android:required="true" android:name="com.sdesimeur.android.gpsfiction" /> -->
    </application>

</manifest>
