<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sdesimeur.android.gpsfiction.activities.enigmealaon"
    xmlns:tools="http://schemas.android.com/tools"
    >

    <uses-permission android:name="android.permission.SET_DEBUG_APP" />

    <application
        tools:replace="android:label,android:icon,android:theme"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appname"
        android:description="@string/rulesName"
        android:theme="@style/MyAppTheme" >
        <activity
            android:name=".EnigmeALaonMainActivity"
            android:label="@string/appname"
            android:exported="true"
            >
        <intent-filter>
            <action android:name="com.sdesimeur.android.gpsfiction.intent.action.STARTGAME" />
            <category android:name="com.sdesimeur.android.gpsfiction.intent.category.GPSFICTIONACTIVITY" />
            <!--
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.HOME" />
            <category android:name="android.intent.category.LAUNCHER" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.MONKEY" />
            -->
            </intent-filter>
        </activity>
    </application>

</manifest>
