<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sdesimeur.android.gpsfiction.forall.admin"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="internalOnly"
>

    <application
        tools:replace="android:label,android:icon,android:theme"
        android:label="@string/appname"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <!--
        android:name="android.support.multidex.MultiDexApplication"
        -->
        <activity
            android:name=".AdminActivity"
            android:alwaysRetainTaskState="true"
            android:label="@string/appname"
            android:configChanges="locale"
            android:noHistory="true"
            android:launchMode="singleTask"
        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <!--
            <category android:name="android.intent.category.HOME" />
            <category android:name="android.intent.category.MONKEY" />
                -->
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity"
            android:label="@string/app_name_home"
            android:noHistory="true"
            android:clearTaskOnLaunch="true"
            android:launchMode="singleTask"
        >
            <!--
            android:stateNotNeeded="true"
            android:finishOnTaskLaunch="true"
            -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <!--
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                -->
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

    </application>

</manifest>
