.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
*/build/
/captures
omim
omim-build-release
omim-build-debug
omim-android-production-armeabi-v7a-hard
omim-android-production-x86
omim*
