<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sdesimeur.android.gpsfiction.forall.player"
    xmlns:tools="http://schemas.android.com/tools"
>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>

    <application
        tools:replace="android:label,android:icon,android:theme"
        android:label="@string/appname"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:name="android.support.multidex.MultiDexApplication"
        android:theme="@style/MyAppTheme" >
        <!--
        android:name="android.support.multidex.MultiDexApplication"
        -->
        <activity
            android:name=".GamesActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="locale"
            android:exported="true"
            android:clearTaskOnLaunch="true"
            android:finishOnTaskLaunch="true"
            >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.DEFAULT" />
            <!--
            <category android:name="android.intent.category.HOME" />
            <category android:name="android.intent.category.LAUNCHER" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.MONKEY" />
            -->
            </intent-filter>
        </activity>
    </application>

</manifest>
